In [2]:
import pandas as pd

from definitions import RAW_DATA_DIR

In [3]:
btcusdt = pd.read_csv(RAW_DATA_DIR / 'BTCUSDT.csv')

## Interpolation of NaN values

In [5]:
btcusdt['open'].isna().sum()

259

In [11]:
btcusdt.loc[940:970]

               open time     open     high      low    close     volume
940  2017-09-06 10:30:00  4479.90  4538.95  4479.90  4525.39   8.352066
941  2017-09-06 11:00:00  4535.29  4535.29  4485.01  4501.94  11.527185
942  2017-09-06 11:30:00  4496.06  4597.79  4496.06  4548.13  60.800510
943  2017-09-06 12:00:00  4548.13  4594.90  4525.29  4554.96  63.742901
944  2017-09-06 12:30:00  4540.96  4554.99  4490.04  4527.04  60.594124
945  2017-09-06 13:00:00  4526.46  4547.77  4422.28  4454.64  32.744720
946  2017-09-06 13:30:00  4454.64  4502.77  4440.02  4502.77  15.731091
947  2017-09-06 14:00:00  4502.77  4529.46  4490.01  4529.46  13.915730
948  2017-09-06 14:30:00  4538.07  4546.57  4466.20  4517.97  31.005463
949  2017-09-06 15:00:00  4503.00  4570.91  4488.33  4556.16  24.228308
950  2017-09-06 15:30:00  4543.11  4619.47  4543.11  4619.43  19.634460
951  2017-09-06 16:00:00      NaN      NaN      NaN      NaN   0.000000
952  2017-09-06 16:30:00      NaN      NaN      NaN      NaN   0.000000
953  2017-09-06 17:00:00      NaN      NaN      NaN      NaN   0.000000
954  2017-09-06 17:30:00      NaN      NaN      NaN      NaN   0.000000
955  2017-09-06 18:00:00      NaN      NaN      NaN      NaN   0.000000
956  2017-09-06 18:30:00      NaN      NaN      NaN      NaN   0.000000
957  2017-09-06 19:00:00      NaN      NaN      NaN      NaN   0.000000
958  2017-09-06 19:30:00      NaN      NaN      NaN      NaN   0.000000
959  2017-09-06 20:00:00      NaN      NaN      NaN      NaN   0.000000
960  2017-09-06 20:30:00      NaN      NaN      NaN      NaN   0.000000
961  2017-09-06 21:00:00      NaN      NaN      NaN      NaN   0.000000
962  2017-09-06 21:30:00      NaN      NaN      NaN      NaN   0.000000
963  2017-09-06 22:00:00      NaN      NaN      NaN      NaN   0.000000
964  2017-09-06 22:30:00      NaN      NaN      NaN      NaN   0.000000
965  2017-09-06 23:00:00  4619.43  4638.09  4610.00  4619.64   8.317542
966  2017-09-06 23:30:00  4619.64  4662.87  4619.64  4619.77   8.426056
967  2017-09-07 00:00:00  4619.77  4661.93  4538.10  4639.09   4.996093
968  2017-09-07 00:30:00  4639.09  4639.09  4599.78  4599.78   1.292734
969  2017-09-07 01:00:00  4599.78  4599.78  4451.93  4451.93   9.652422
970  2017-09-07 01:30:00  4451.93  4546.69  4451.93  4453.01   6.138729

In [14]:
btcusdt_new = btcusdt.interpolate()
btcusdt_new[940:970]

,open time,open,high,low,close,volume
940,2017-09-06 10:30:00,4479.900,4538.950000,4479.900000,4525.390,8.352066
941,2017-09-06 11:00:00,4535.290,4535.290000,4485.010000,4501.940,11.527185
942,2017-09-06 11:30:00,4496.060,4597.790000,4496.060000,4548.130,60.800510
943,2017-09-06 12:00:00,4548.130,4594.900000,4525.290000,4554.960,63.742901
944,2017-09-06 12:30:00,4540.960,4554.990000,4490.040000,4527.040,60.594124
945,2017-09-06 13:00:00,4526.460,4547.770000,4422.280000,4454.640,32.744720
946,2017-09-06 13:30:00,4454.640,4502.770000,4440.020000,4502.770,15.731091
947,2017-09-06 14:00:00,4502.770,4529.460000,4490.010000,4529.460,13.915730
948,2017-09-06 14:30:00,4538.070,4546.570000,4466.200000,4517.970,31.005463
949,2017-09-06 15:00:00,4503.000,4570.910000,4488.330000,4556.160,24.228308
950,2017-09-06 15:30:00,4543.110,4619.470000,4543.110000,4619.430,19.634460
951,2017-09-06 16:00:00,4548.198,4620.711333,4547.569333,4619.444,0.000000
952,2017-09-06 16:30:00,4553.286,4621.952667,4552.028667,4619.458,0.000000
953,2017-09-06 17:00:00,4558.374,4623.194000,4556.488000,4619.472,0.000000
954,2017-09-06 17:30:00,4563.462,4624.435333,4560.947333,4619.486,0.000000
955,2017-09-06 18:00:00,4568.550,4625.676667,4565.406667,4619.500,0.000000
956,2017-09-06 18:30:00,4573.638,4626.918000,4569.866000,4619.514,0.000000
957,2017-09-06 19:00:00,4578.726,4628.159333,4574.325333,4619.528,0.000000
958,2017-09-06 19:30:00,4583.814,4629.400667,4578.784667,4619.542,0.000000
959,2017-09-06 20:00:00,4588.902,4630.642000,4583.244000,4619.556,0.000000
960,2017-09-06 20:30:00,4593.990,4631.883333,4587.703333,4619.570,0.000000
961,2017-09-06 21:00:00,4599.078,4633.124667,4592.162667,4619.584,0.000000
962,2017-09-06 21:30:00,4604.166,4634.366000,4596.622000,4619.598,0.000000
963,2017-09-06 22:00:00,4609.254,4635.607333,4601.081333,4619.612,0.000000
964,2017-09-06 22:30:00,4614.342,4636.848667,4605.540667,4619.626,0.000000
965,2017-09-06 23:00:00,4619.430,4638.090000,4610.000000,4619.640,8.317542
966,2017-09-06 23:30:00,4619.640,4662.870000,4619.640000,4619.770,8.426056
967,2017-09-07 00:00:00,4619.770,4661.930000,4538.100000,4639.090,4.996093
968,2017-09-07 00:30:00,4639.090,4639.090000,4599.780000,4599.780,1.292734
969,2017-09-07 01:00:00,4599.780,4599.780000,4451.930000,4451.930,9.652422

In [15]:
(btcusdt['open'] == 0).sum()

0

## Filter Stablecoin and Fiat pairs

In [21]:
from requests import Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

def get_cryptocurrency_table(apikey,
                             start=1,
                             limit=400,
                             convert='USD') -> pd.DataFrame:
    """
    Args:
        apikey: API key for CoinMarketCap API
        start: Table position of the first cryptocurrency to show
        limit: Table position of the last cryptocurrency to show
        convert: Currency unit for volume, etc.

    Returns:
        data_df: Dataframe with active cryptocurrencies, sorted by market cap
    """

    url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
    parameters = {
        'start': start,
        'limit': limit,
        'convert': convert
    }
    headers = {
        'Accepts': 'application/json',
        'X-CMC_PRO_API_KEY': apikey,
    }

    session = Session()
    session.headers.update(headers)

    try:
        response = session.get(url, params=parameters)
        data = json.loads(response.text)
    except (ConnectionError, Timeout, TooManyRedirects) as e:
        print(e)
        return

    return pd.DataFrame(data['data'])

In [24]:
from private import coinmarketcap_apikey

# Load table of top cc_table_length cryptocurrencies from coinmarketcap.com
crypto_table = get_cryptocurrency_table(
    apikey=coinmarketcap_apikey,
    start=1,
    limit=500,
    convert='USD'
)

# Create lists of non-stablecoin cryptocurrencies, stablecoins, and
# exchanges from which data should preferredly be fetched
cryptocurrencies = []
stablecoins = []
for row in crypto_table.iterrows():
    if 'stablecoin' in row[1]['tags']:
        stablecoins.append(row[1]['symbol'])
    else:
        cryptocurrencies.append(row[1]['symbol'])
cryptocurrencies = [c.upper() for c in cryptocurrencies]
stablecoins = [s.upper() for s in stablecoins]

In [25]:
stablecoins

['USDT',
 'USDC',
 'BUSD',
 'DAI',
 'BTCB',
 'UST',
 'TUSD',
 'PAX',
 'HUSD',
 'RSR',
 'USDN',
 'GUSD',
 'FEI',
 'LUSD',
 'SUSD',
 'FRAX',
 'VAI',
 'EURS',
 'QC',
 'SBD',
 'CUSD',
 'DGD',
 'USDX']