In [17]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

from definitions import PROCESSED_DATA_DIR
from src.data.indicators import rsi, stochRSI, ema
from src.models.strategies import RSIStoch200EMA, BuyAndHold
from src.data.data_pipeline import split_timeseries

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
btcusdt = pd.read_csv(PROCESSED_DATA_DIR / 'BTCUSDT.csv')
btcusdt.index = pd.DatetimeIndex(btcusdt['open time'])

In [19]:
btcusdt

,open time,open,high,low,close,volume,ema,rsi,stoch_k,stoch_d
open time,,,,,,,,,,
2017-08-17 20:30:00,2017-08-17 20:30:00,4301.91,4354.84,4262.53,4346.74,15.184266,4346.740000,NaN,NaN,NaN
2017-08-17 21:00:00,2017-08-17 21:00:00,4346.74,4369.69,4315.85,4349.33,29.292665,4346.765771,100.000000,NaN,NaN
2017-08-17 21:30:00,2017-08-17 21:30:00,4349.33,4369.69,4309.23,4333.55,32.480371,4346.634271,13.225186,NaN,NaN
2017-08-17 22:00:00,2017-08-17 22:00:00,4333.55,4349.63,4310.00,4326.29,26.241174,4346.431840,9.248769,NaN,NaN
2017-08-17 22:30:00,2017-08-17 22:30:00,4326.29,4359.13,4319.11,4336.80,31.134968,4346.336001,38.211911,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2021-05-31 21:30:00,2021-05-31 21:30:00,36775.02,37087.30,36623.01,36932.55,840.717074,36229.710395,58.482794,0.198487,0.133164
2021-05-31 22:00:00,2021-05-31 22:00:00,36932.55,37250.00,36863.28,37090.16,1407.839699,36238.272082,61.498708,0.419132,0.235186
2021-05-31 22:30:00,2021-05-31 22:30:00,37090.16,37140.00,36835.85,36879.23,908.355699,36244.649773,55.670255,0.430699,0.349439
2021-05-31 23:00:00,2021-05-31 23:00:00,36879.23,37345.00,36800.93,37301.51,1160.566735,36255.165795,63.191393,0.580911,0.476914
2021-05-31 23:30:00,2021-05-31 23:30:00,37301.51,37499.00,37231.13,37253.81,1488.587448,36265.102554,61.913553,0.651560,0.554390

In [53]:
split_timeseries(btcusdt, 66300, None , 52)

(                               open time      open      high       low  \
 open time
 2017-08-18 13:30:00  2017-08-18 13:30:00   4278.00   4293.65   4221.05
 2017-08-18 14:00:00  2017-08-18 14:00:00   4293.09   4293.09   4224.72
 2017-08-18 14:30:00  2017-08-18 14:30:00   4256.79   4259.40   4193.70
 2017-08-18 15:00:00  2017-08-18 15:00:00   4259.40   4259.40   4209.50
 2017-08-18 15:30:00  2017-08-18 15:30:00   4200.00   4249.51   4200.00
 ...                                  ...       ...       ...       ...
 2021-05-30 17:00:00  2021-05-30 17:00:00  35734.95  35979.98  35707.64
 2021-05-30 17:30:00  2021-05-30 17:30:00  35930.31  36000.00  35774.11
 2021-05-30 18:00:00  2021-05-30 18:00:00  35817.23  36183.33  35814.71
 2021-05-30 18:30:00  2021-05-30 18:30:00  36103.60  36264.77  36060.39
 2021-05-30 19:00:00  2021-05-30 19:00:00  36125.54  36284.44  36021.64

                         close       volume           ema        rsi   stoch_k  \
 open time
 2017-08-18 13:30:00   4293.09    34.574906   4333.602139  46.467068  0.251841
 2017-08-18 14:00:00   4256.79    41.871411   4332.837839  40.424487  0.063209
 2017-08-18 14:30:00   4259.40    32.497532   4332.107115  41.018386  0.073082
 2017-08-18 15:00:00   4229.86    18.317684   4331.089730  36.574365  0.009873
 2017-08-18 15:30:00   4236.89    21.630033   4330.152420  38.287917  0.033771
 ...                       ...          ...           ...        ...       ...
 2021-05-30 17:00:00  35928.33  1260.922993  36308.185543  58.031568  0.450342
 2021-05-30 17:30:00  35819.67   927.270056  36303.324692  55.785079  0.429746
 2021-05-30 18:00:00  36103.59  1439.522014  36301.337282  60.128334  0.509568
 2021-05-30 18:30:00  36125.54  1528.167458  36299.588055  60.451776  0.672260
 2021-05-30 19:00:00  36203.45   928.717353  36298.631458  61.641210  0.870307

                       stoch_d
 open time
 2017-08-18 13:30:00  0.446834
 2017-08-18 14:00:00  0.246932
 2017-08-18 14:30:00  0.129377
 2017-08-18 15:00:00  0.048721
 2017-08-18 15:30:00  0.038908
 ...                       ...
 2021-05-30 17:00:00  0.346389
 2021-05-30 17:30:00  0.407951
 2021-05-30 18:00:00  0.463219
 2021-05-30 18:30:00  0.537191
 2021-05-30 19:00:00  0.684045

 [66300 rows x 10 columns],
                                open time      open      high       low  \
 open time
 2017-08-17 20:30:00  2017-08-17 20:30:00   4301.91   4354.84   4262.53
 2017-08-17 21:00:00  2017-08-17 21:00:00   4346.74   4369.69   4315.85
 2017-08-17 21:30:00  2017-08-17 21:30:00   4349.33   4369.69   4309.23
 2017-08-17 22:00:00  2017-08-17 22:00:00   4333.55   4349.63   4310.00
 2017-08-17 22:30:00  2017-08-17 22:30:00   4326.29   4359.13   4319.11
 ...                                  ...       ...       ...       ...
 2021-05-31 21:30:00  2021-05-31 21:30:00  36775.02  37087.30  36623.01
 2021-05-31 22:00:00  2021-05-31 22:00:00  36932.55  37250.00  36863.28
 2021-05-31 22:30:00  2021-05-31 22:30:00  37090.16  37140.00  36835.85
 2021-05-31 23:00:00  2021-05-31 23:00:00  36879.23  37345.00  36800.93
 2021-05-31 23:30:00  2021-05-31 23:30:00  37301.51  37499.00  37231.13

                         close       volume           ema         rsi  \
 open time
 2017-08-17 20:30:00   4346.74    15.184266   4346.740000         NaN
 2017-08-17 21:00:00   4349.33    29.292665   4346.765771  100.000000
 2017-08-17 21:30:00   4333.55    32.480371   4346.634271   13.225186
 2017-08-17 22:00:00   4326.29    26.241174   4346.431840    9.248769
 2017-08-17 22:30:00   4336.80    31.134968   4346.336001   38.211911
 ...                       ...          ...           ...         ...
 2021-05-31 21:30:00  36932.55   840.717074  36229.710395   58.482794
 2021-05-31 22:00:00  37090.16  1407.839699  36238.272082   61.498708
 2021-05-31 22:30:00  36879.23   908.355699  36244.649773   55.670255
 2021-05-31 23:00:00  37301.51  1160.566735  36255.165795   63.191393
 2021-05-31 23:30:00  37253.81  1488.587448  36265.102554   61.913553

                       stoch_k   stoch_d
 open time
 2017-08-17 20:30:00       NaN       NaN
 2017-08-17 21:00:00       NaN       NaN
 2017-08-17 21:30:00       NaN       NaN
 2017-08-17 22:00:00       NaN       NaN
 2017-08-17 22:30:00       NaN       NaN
 ...                       ...       ...
 2021-05-31 21:30:00  0.198487  0.133164
 2021-05-31 22:00:00  0.419132  0.235186
 2021-05-31 22:30:00  0.430699  0.349439
 2021-05-31 23:00:00  0.580911  0.476914
 2021-05-31 23:30:00  0.651560  0.554390

 [91 rows x 10 columns])

In [41]:
btcusdt.iloc[30000:(30000+1000)]
btcusdt.iloc[0:30000].append(btcusdt.iloc[(30000+1000):len(btcusdt.index)])

,open time,open,high,low,close,volume,ema,rsi,stoch_k,stoch_d
open time,,,,,,,,,,
2017-08-17 20:30:00,2017-08-17 20:30:00,4301.91,4354.84,4262.53,4346.74,15.184266,4346.740000,NaN,NaN,NaN
2017-08-17 21:00:00,2017-08-17 21:00:00,4346.74,4369.69,4315.85,4349.33,29.292665,4346.765771,100.000000,NaN,NaN
2017-08-17 21:30:00,2017-08-17 21:30:00,4349.33,4369.69,4309.23,4333.55,32.480371,4346.634271,13.225186,NaN,NaN
2017-08-17 22:00:00,2017-08-17 22:00:00,4333.55,4349.63,4310.00,4326.29,26.241174,4346.431840,9.248769,NaN,NaN
2017-08-17 22:30:00,2017-08-17 22:30:00,4326.29,4359.13,4319.11,4336.80,31.134968,4346.336001,38.211911,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2021-05-31 21:30:00,2021-05-31 21:30:00,36775.02,37087.30,36623.01,36932.55,840.717074,36229.710395,58.482794,0.198487,0.133164
2021-05-31 22:00:00,2021-05-31 22:00:00,36932.55,37250.00,36863.28,37090.16,1407.839699,36238.272082,61.498708,0.419132,0.235186
2021-05-31 22:30:00,2021-05-31 22:30:00,37090.16,37140.00,36835.85,36879.23,908.355699,36244.649773,55.670255,0.430699,0.349439
2021-05-31 23:00:00,2021-05-31 23:00:00,36879.23,37345.00,36800.93,37301.51,1160.566735,36255.165795,63.191393,0.580911,0.476914
2021-05-31 23:30:00,2021-05-31 23:30:00,37301.51,37499.00,37231.13,37253.81,1488.587448,36265.102554,61.913553,0.651560,0.554390

In [25]:
len(btcusdt.index)

66391

In [28]:
btcusdt.iloc[len(btcusdt.index)-1]

open time    2021-05-31 23:30:00
open                    37301.51
high                     37499.0
low                     37231.13
close                   37253.81
volume               1488.587448
ema                 36265.102554
rsi                    61.913553
stoch_k                  0.65156
stoch_d                  0.55439
Name: 2021-05-31 23:30:00, dtype: object

In [ ]:
#Testset parameters
testset_length = 1000 #30-min intervalls
testset_start = None #random start

#Hyperparameters
hyperparameter_space = 
num_calls = 30